<header id="header">
				<h1 id="logo"><a href="/">Bex Jones <span>anthropologist</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/anthropology.html">Research</a></li>
						<li><a href="/publications.html">Publications</a></li>
						<li><a href="/talks.html">Talks</a></li>
						<li><a href="/teaching.html">Teaching</a></li>
                        <li><a href="/blog.html">Side Quests</a></li>
						<li class="submenu">
							<a href="">About</a>
							<ul>
								<li><a href="/history.html">History</a></li>
								</li>
								<li><a href="/contact.html">Contact</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
