<header id="header">
				<h1 id="logo"><a href="/">Bex Jones <span>anthropologist</span></a></h1>
				<nav id="nav">
					<ul>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">About</a>
							<ul>
								<li><a href="/history.html">History</a></li>
								<li><a href="/right-sidebar.html">Anthropology</a></li>
								<li><a href="/film.html">Film</a></li>
								<li><a href="/wine.html">Wine</a></li>
								<li class="submenu">
									<a href="">Projects</a>
									<ul>
										<li><a href="#">Air in Space</a></li>
										<li><a href="#">Air from Space</a></li>
										<li><a href="#">Air made Visible</a></li>
										<li><a href="#">Air and Sound</a></li>
										<li><a href="#">Air control</a></li>
									</ul>
								<li><a href="/contact.html">Contact</a></li>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
